*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --ff-ss: "Be Vietnam", sans-serif;

  --fw-normal: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --clr-primary-400: hsl(12, 88%, 59%);
  --clr-primary-500: hsl(228, 39%, 23%);

  --clr-neutral-400: hsl(0, 0%, 98%);
  --clr-neutral-500: hsl(13, 100%, 96%);
  --clr-neutral-600: hsl(227, 12%, 61%);
  --clr-neutral-700: hsl(223, 12%, 13%);

  --fs-400: 1rem;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
